<!DOCTYPE html>
  <head>
    <title>Todo</title>
 <style type="text/css">
<!--
body {
	background-image: url(images/bg.png);
	
}
-->
 </style>
 <link href="css/style.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" type="text/css" href="css/style9.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />    
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />
        <style type="text/css">
<!--
.Stile1 {color: #333333}
-->
        </style>
 </head>
  
<body>
<!--start container -->
<div id="container">
<header>
    <nav>   
      <div id="logo"><a href="#"><img src="images/gemlogo.png" alt="Logo here" width="183" height="147" /></a>      </div>
      
      <div id="search-top">
   <form method="post" action="#">
  <input type="text" onFocus="if(this.value=='Search')this.value='';" onBlur="if(this.value=='')this.value='Search';" value="Search"  id="search-field"/>
  <input type="submit" value="" id="search-btn"/>
  </form> 
      </div>  
      <div id="nav_social"><a href="#"><img src="images/facebook_32.png" alt="Become a fan" width="32" height="32" /></a><a href="#"><img src="images/twitter_32.png" alt="Follows on Twitter" /></a><a href="#"><img src="images/linkedin_32.png" alt="Linked in" /></a><a href="#"><img src="images/email_32.png" alt="Contact" width="32" height="32" /></a> </div>
  </nav>
  
    </header>
<div class="content">

          <ul class="ca-menu">
                    <li>
                        <a href="Signin.html">
                            <span class="ca-icon">U</span>
                            <div class="ca-content">
                              <h2 class="ca-main">Inicio de sesi&oacute;n</h2>
                              <h3 class="ca-sub"><br><br>Mi Perfil</h3>
                        </div>
            </a>                    </li>
                    <li>
                        <a href="#">
                             
                            <div class="ca-content">
                              
                                <h2 class="ca-main">Realizar Ex&aacute;men</h2>
                              <span class="ca-icon">a</span>
                                <h3 class="ca-sub"><br>Inicio de sesi&oacute;n requerida</h3>
                                 
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">C</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Acerca de..</h2>
                                <h3 class="ca-sub">Averigua m&aacute;s de nosotros</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="#">
                            <span class="ca-icon">S</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Gesti&oacute;n</h2>
                                <h3 class="ca-sub">Ajustes</h3>
                            </div>
                        </a>                    </li>
                </ul>