<!-- Basados en una plantilla de http://freehtml5templates.com-->
<!DOCTYPE html>
  <head>
    <title>Index</title>
 <link href="../css/style.css" rel="stylesheet" type="text/css" />
 <link rel="stylesheet" type="text/css" href="../css/style9.css" />
 <link rel="stylesheet" type="text/css" href="../css/demo.css" />
 <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css' />

 </head>


<body>
<!--start container -->
<div id="container">
<header>
    <nav>   
      <div id="logo"><a href="#"><img src="images/gemlogo.png" alt="Logo here" width="183" height="147" /></a>      </div>
      
      <div id="search-top">
   <form method="post" action="#">
  <input type="text" onFocus="if(this.value=='Search')this.value='';" onBlur="if(this.value=='')this.value='Search';" value="Search"  id="search-field"/>
  <input type="submit" value="" id="search-btn"/>
  </form> 
      </div>  
      <div id="nav_social"><a href="#"><img src="images/facebook_32.png" alt="Become a fan" width="32" height="32" /></a><a href="#"><img src="images/twitter_32.png" alt="Follows on Twitter" /></a><a href="#"><img src="images/linkedin_32.png" alt="Linked in" /></a><a href="#"><img src="images/email_32.png" alt="Contact" width="32" height="32" /></a> </div>
  </nav>
  
    </header>

<div class="content">

       
          <ul class="ca-menu">
                    <li>
                        <a href="Signin.php">
                            <div class="ca-content">
                              
                                <h2 class="ca-main">Iniciar Sesion</h2>
                                <span class="ca-icon">U</span>
                                <h3 class="ca-sub"><br>Mi perfil</h3>
                                 
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="examen.php">
                             
                            <div class="ca-content">
                              
                                <h2 class="ca-main">Realizar Ex&aacute;men</h2>
                                <span class="ca-icon">a</span>
                                <h3 class="ca-sub"><br>Inicio de sesi&oacute;n requerida</h3>
                                 
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="acercade.html">
                            <span class="ca-icon">C</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Acerca de..</h2>
                                <h3 class="ca-sub">Averigua m&aacute;s de nosotros</h3>
                            </div>
                        </a>                    </li>
                    <li>
                        <a href="index.html">
                            <span class="ca-icon">S</span>
                            <div class="ca-content">
                                <h2 class="ca-main">Gesti&oacute;n</h2>
                                <h3 class="ca-sub">Ajustes</h3>
                            </div>
                        </a>                    </li>
                </ul>
  <!--star main --> 

<!--start container -->
  <!--star main --> 
    
    <main>    
      <div class="abox">
      <figure>
      <fcaption>
     <h1>Prueba tus Conocimientos</h1>
      </fcaption><a href="#"></a><a href="#"><img src="images/bror.jpg" alt="I love graphic" width="289" height="175" /></a></figure>
      </div>
    <div class="abox">
      <figure>
      <fcaption>
      <h1>Analiza tus Progresos.</h1>
      </fcaption>
      <a href="#"><img src="images/nat.jpg" alt="I love graphic" width="287" height="176" /></a>      </figure>
    </div>
    <div class="abox">
      <figure>
      <fcaption>
     <h1>Fortalece tus debilidades.</h1>
      </fcaption><a href="#"></a><a href="#"><img src="images/nas.jpg" alt="I love graphic" width="289" height="178" /></a></figure>
      </div>   
    </main>
    <!--end main -->
    <!--start middle -->
    <middle>    
      <div class="enter">
        <P >
        <H1>2014<span class="imgteaser"><a href="#"><img src="images/p1.png" alt="Todo el Todo" width="413" height="220" /></a></span></H1>
        <br>
        
        </P>
        
          <p>El Curso de Preparaci&oacute;n para el examen de admisi&oacute;n al nivel superior del IPN
   </p>
        <p>Es una prueba de aptitud  acad&eacute;mica con fines de SELECCI&Oacute;N para el ingreso al NS el IPN, donde se eval&uacute;an  habilidades intelectuales b&aacute;sicas y conocimientos disciplinarios</p>
          <p><span class="section_slogan"> <img src="images/quote-right.png" alt="images" /><span class="cursive"> TU GU&Iacute;A EN LINEA</span><img src="view/images/quote-left.png" alt="images" /></span> </p>
          <div class="imgteaser">
            <a href="#"><span class="desc">
            <strong>TODO 2011 - Lorem Ipsum quntum</strong>
          Blandit turpis patria euismod at iaceo appellatio, demoveo esse.</span></a></div>
          <p>&nbsp;</p>
      
      </div>	
      <div class="section_slogan" align="right"></div>
      <div class="middle_box">
      <h1><img src="images/fav.png" width="16" height="16" /> <a href="#">Duraci&oacute;n</a></h1>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> 100 horas,
</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" /> 5 horas por sesi&oacute;n
1 sesi&oacute;n en casa,</ol>
      <ol>
        <img src="images/dialog-ok.png" width="16" height="16" />  15  sesiones sabatinas de 08:00 a 13:00 horas </ol>
     <ol> <img src="images/dialog-ok.png" width="16" height="16" /> 4 en domingo..</ol>
      </div>
      <div class="middle_box">
        <h1><center><img src="images/cics.png" width="150" height="110"></center></h1>
      </div>
      <div class="middle_box">
        <h1><img src="images/fav.png" width="16" height="16" /> <a href="#">Objetivos </a></h1>
      <img src="images/dialog-ok.png" width="16" height="16" />Proporcionar  al  aspirante  un entrenamiento acad&eacute;mico  desarrollando habilidades para la  resoluci&oacute;n asertiva del examen  de admisi&oacute;n.      </div>
    </middle>
</div>
<!--end middle -->
<!--start footer -->
<footer>  
  <div id="footer">
  <div id="footerleft">
      <h2>&nbsp;</h2>
  </div>
    <div id="footermiddle">
      <h2>&nbsp;</h2>
    </div>
    <div id="footerright">
      <h2>&nbsp;</h2>
    </div>
    </div>
</footer>
<!--end footer -->
</div>
<!--end container -->
<!-- Free template distributed by http://freehtml5templates.com -->
  </body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</html>
