<!DOCTYPE HTML>
<html>
<head>
	<meta charset='utf-8'>
	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
	<div id='contenedor'>
		<ul class="nav nav-pills nav-justified">
			<li>Hola</li>
			<li>Hola</li>
			<li>Hola</li>
		</ul>
		<script id="usuario-template" type="text/template">

		<td><%= id %></td>
		<td><%= username %></td>
		<td><%= nombre %></td>
		<td><%= fecha_nacimiento %></td>
		<td>
		<a href='editar-usuario.php?id=<%=id%>'>Editar Información</a>
		<a href='eliminar-usuario.php?id=<%=id%>'>Eliminar</a>
		</td>
		</script>
	</div>
	
	<!-- Cargar Scripts -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

	<script type="text/javascript" src='js/underscore-min.js'></script>
	<script type="text/javascript" src='js/backbone-min.js'></script>

	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/principal.js"></script>
</body>
</html>